<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="clients text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="/static/images/home/under.png" class="img-responsive inline" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="clients text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="container" id="connectify">
                        <h2 id="connect-us">Join Us</h2>
                        <ul class="nav nav-pills connectify" id="pills">
                            <li><a href="https://www.facebook.com/stella.sun.studio"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/sun.studio.store/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.pinterest.com/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.instagram.com/sun.studio.store/"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="https://www.pinterest.com/"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                        <div class="col-sm-12">
                            <div class="copyright-text text-center">
                                <div class="copyright">
                                    <p>&copy; Stella Sun Studio 2017. All Rights Reserved.</p>
                                    <p>Crafted by <a id="author" target="_blank" href="http://hive-project.com/">O. Kuznets</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/lightbox.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script type="text/javascript" async src="/static/js/carousel.js"></script>

</body>

</html>