<% include ./partials/header %>

<div class="container-fluid">

    <!--Carousel-->
    <div class="row">
        <div class="col-lg-12 carousel-column">
            <div class="owl-carousel owl-theme" id="carousel1">
                <div>
                    <img src="/static/images/carousel/slide_1.jpg">
                </div>
                <div>
                    <img src="/static/images/carousel/slide_2.jpg">
                </div>
                <div>
                    <img src="/static/images/carousel/slide_3.jpg">
                </div>
            </div>  
        </div>
    </div>

    <!--Art is Life-->
    <section id="company-information" class="choose">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <img id="art-life" src="/static/images/home/stella.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms" id="art-box">
                    <h2 class="art-life-name">My life is art. Art is my life.</h2>
                    <p id="art-life-des">Being an artist isn’t just about putting pencil to paper, or brush to canvas. Art can and does mean so much more than that, to so many people. Art is a way of seeing the world, a way of expression, oftentimes a compulsion: we simply must create!</p>
                    <br>
                    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms" id="sm-signature">
                        <h2 class="stella-m">Stella Marchuk</h2>
                        <img id="leaf" src="/static/images/home/leaf.png" class="img-responsive" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--Art, Photos and Travel-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/home/art.png" alt="">
                        </div>
                        <h2 class="services-three">Art</h2>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/home/camera.png" alt="">
                        </div>
                        <h2 class="services-three">Photos</h2>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/home/phototour.png" alt="">
                        </div>
                        <h2 class="services-three">Travel</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
             <div>
                <img src="/static/images/puzzles.png">
            </div> 
            </div>  
    
<!--     <section id="portfolio">
        <div class="portfolio-items">
            <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="/static/images/portfolio/1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <h2 class="landing-tile-h2">Wedding Day</h2>
                            <h3 class="landing-tile-h3">-Dima'n'Stella-</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded folio">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="/static/images/portfolio/2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <h2 class="landing-tile-h2">Wedding Day</h2>
                            <h3 class="landing-tile-h3">-Dima'n'Stella-</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item design logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="/static/images/portfolio/3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <h2 class="landing-tile-h2">Wedding Day</h2>
                            <h3 class="landing-tile-h3">-Dima'n'Stella-</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item design logos">
                <div class="portfolio-wrapper">
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="/static/images/portfolio/4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <h2 class="landing-tile-h2">Wedding Day</h2>
                            <h3 class="landing-tile-h3">-Dima'n'Stella-</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!--Clients-->
    <section id="clients">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img id="happy-cl" src="/static/images/home/clients.png" class="img-responsive" alt="" width="130px" height="300px"></p>
                        <h1 class="title" id="happy-clients">Happy Clients</h1>
                    </div>
                    <div class="clients text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-lg-4 col-sm-12">
                            <a><img src="/static/images/home/client1.png" class="img-responsive" alt="" height="90px" width="320px"></a>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <a><img src="/static/images/home/client2.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <a><img src="/static/images/home/client3.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
    <% include ./partials/footer %>