<% include ./partials/header %>

	<div class="container"> 
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron dmcc-jumbo">
				<h1>Error: 404</h1>
				<h2>Sorry, but this page is unreachable...</h2>
				<p>Is the command correctly provided to Back-End? </p>
				<a href="/cms/" class="btn btn-primary-inversed">Go to Main Page</a>
			</div>
		</div>
	</div>


<% include ./partials/footer %>