<% include ./partials/header %>

	<div class="container">
		<div class="row">
			<div class="jumbotron dmcc-jumbo">
				<h1>Welcome to CMS for <strong>DMCC</strong> Website!</h1>
				<h2>Here you can work real-time with the content of the website</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="thumbnail">
					<div class="caption">
						<h3 class="dmcc-color">Categories & Pages</h3>
						<p>Active displayed pages on the website collected by categories. Hide, modify or deactivate a page or category here.</p>	
						<p><a href="/cms/categories" class="btn btn-primary">Edit</a></p>					
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="thumbnail">
					<div class="caption">
						<h3 class="dmcc-color">News</h3>
						<p>Add a newscaption to the feed. Feel free by editing an old post or just deleting it from newsfeed here.</p>	
						<p><a href="/cms/news" class="btn btn-primary not-active">Edit</a></p>	
						<p class="dmcc-color" style="text-align: center; position: absolute; top: 5%; left: 48%">under development</p>							
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="thumbnail">
					<div class="caption">
						<h3 class="dmcc-color">List of Projects</h3>
						<p>Manage an actual portfolio of the Company with any information you want to provide to the customers here.</p>	
						<p><a href="/cms/projects" class="btn btn-primary not-active">Edit</a></p>
						<p class="dmcc-color" style="text-align: center; position: absolute; top: 5%; left: 48%">under development</p>						
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-12">
				<div class="thumbnail">
					<div class="caption">
						<h3 class="dmcc-color">Vacancies</h3>
						<p>Make a description of a vacant position in the Company, or delete unactual posts from feed here.</p>	
						<p><a href="/cms/vacancies" class="btn btn-primary not-active">Edit</a></p>	
						<p class="dmcc-color" style="text-align: center; position: absolute; top: 5%; left: 48%">under development</p>					
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ./partials/footer %>