<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CMS DMCC</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
            <link rel="stylesheet" type="text/css" href="/static/css/cms_login.css">
            <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    </head>
    
	<body>
		<div id="login-header" class="container">
				<img src="/static/images/dmcc_logo.svg">
				<h2>Content Management System</h2>
				<form action="/cms/login" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="username" placeholder="username">
					</div>
			        <div class="form-group">
			        	<input class="form-control" type="password" name="password" placeholder="password">
			        </div>
			        <div class="form-group">
			        	<input class="btn btn-primary btn-lg btn-block" type="submit" value="Log In"></input>
			        </div> 
				</form>				
		</div>
		<ul class="slideshow">
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		    <li></li>
		</ul>

    	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>