<% include ./../partials/header %>

    <section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="bg-about">
                    <div class="col-sm-12 text-center">
                        <img id="e404" src="/static/images/info.png" class="margin-bottom" alt="">
                        <h1 class="margin-bottom" id="aboutus">About Us</h1>
                        <p id="counter">My name is Stella Marchuk. I am an ordinary person, I am a part of our world that fills it with colorful colors and brings joy to everyone. What really pushed me to this? Once upon a time, sitting by a cup of coffee, I realized that the call of my life is art and travel. By combining this I live smiling every day. This page is part of me. I give this particle to people in order to combine art with them. Let's be friends. Let's create beauty! Welcome!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#about-company-->

    <section id="action">
        <div class="vertical-center">
            <div class="container">
                <div class="row">
                    <div class="action count">
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="120" data-speed="3000" data-from="0"></h1>
                            <h3 id="counter">Happy Clients</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="2" data-speed="3000" data-from="0"></h1>
                            <h3 id="counter">Studio Years</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="35" data-speed="3000" data-from="0"></h1>
                            <h3 id="counter">Illustrations</h3>
                        </div>
                        <div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h1 class="timer bold" data-to="50" data-speed="3000" data-from="0"></h1>
                            <h3 id="counter">Photosessions</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->

    <section id="team">
        <div class="container">
            <div class="row">
                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms" id="aboutus">Meet the Team</h1>
                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms" id="counter">Here are those who want to bring joy to you</p>
                <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#team-carousel" data-slide-to="1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="item active">
                        <div class="col-sm-3 col-xs-6">
                            <div class="team-single-wrapper">
                                <div class="team-single">
                                    <div class="person-thumb">
                                        <img src="/static/images/stella_team.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="social-profile">
                                        <ul class="nav nav-pills">
                                            <li><a href="https://www.facebook.com/stellamarchuk"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/stellamarchuk"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="person-info">
                                    <h2 id="aboutus1">Stella Marchuk</h2>
                                    <p id="aboutus2">Owner &amp; Blogger|Painter|Photographer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="team-single-wrapper">
                                <div class="team-single">
                                    <div class="person-thumb">
                                        <img src="/static/images/dmytro_team.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="social-profile">
                                        <ul class="nav nav-pills">
                                            <li><a href="https://www.facebook.com/dmytro.kuznets"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/mobilis16"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="person-info">
                                    <h2 id="aboutus1">Dmytro Kuznets</h2>
                                    <p id="aboutus2">Owner &amp; Blogger </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="team-single-wrapper">
                                <div class="team-single">
                                    <div class="person-thumb">
                                        <img src="/static/images/ivanna_team.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="social-profile">
                                        <ul class="nav nav-pills">
                                            <li><a href="https://www.facebook.com/ivanka.marchuk.7"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/ivanka.marks"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="person-info">
                                    <h2 id="aboutus1">Ivanna Marchuk</h2>
                                    <p id="aboutus2">Blogger|Photographer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="team-single-wrapper">
                                <div class="team-single">
                                    <div class="person-thumb">
                                        <img src="/static/images/oleh_team.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="social-profile">
                                        <ul class="nav nav-pills">
                                            <li><a href="https://www.facebook.com/dream.floyd96"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/jeddah_ko"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="person-info">
                                    <h2 id="aboutus1">Oleh Kuznets</h2>
                                    <p id="aboutus2">Website Support</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#team-->

    <% include ./../partials/footer %>